{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020,
        "extraFileExtensions": [".svelte"]
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import"],
    "extends": ["standard", "plugin:svelte/recommended", "plugin:import/errors", "plugin:import/warnings"],
    "rules": {
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "no-unused-expressions": 0,
        "no-unused-vars": 0,
        "no-undef": 0,
        "@typescript-eslint/no-unused-expressions": [2, { "allowTernary": true, "allowShortCircuit": true }],
        "@typescript-eslint/no-unused-vars": [2, { "args": "after-used", "argsIgnorePattern": "^_" }],
        "react/prop-types": 0,
        "react/no-unknown-property": 0,
        "handle-callback-err": 0,
        "no-unmodified-loop-condition": 0,
        "prefer-promise-reject-errors": 0,
        "camelcase": 0,
        "no-tabs": 0,
        "no-useless-escape": 0,
        "import/first": 0,
        "import/no-duplicates": 1,
        "multiline-ternary": "off",
        "import/no-unresolved": ["error", { "ignore": ["^react$", "^react-dom$"] }],
        "no-throw-literal": 0,
        "radix": 0,
        "one-var": 0,
        "consistent-return": 0,
        "max-len": 0,
        "indent": 0,
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "no-multiple-empty-lines": 0,
        "no-trailing-spaces": 0,
        "padded-blocks": 0,
        "semi": 1,
        "comma-dangle": [
            1,
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "never"
            }
        ],
        "space-before-function-paren": ["error", { "anonymous": "never", "named": "never", "asyncArrow": "always" }]
    },
    "overrides": [
        {
            "files": ["**/cypress/**/*.ts", "**/cypress/**/*.tsx"],
            "rules": {
                "@typescript-eslint/no-unused-expressions": 0
            }
        },
        {
            "files": ["*.svelte"],
            "parser": "svelte-eslint-parser",
            "parserOptions": {
                "parser": "@typescript-eslint/parser"
            },
            "rules": {
                "no-sequences": 0,
                "@typescript-eslint/no-unused-expressions": 0
            }
        }
    ],
    "settings": {
        "import/parser": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/ignore": "node_modules",
        "import/resolver": {
            "typescript": {}
        },
        "react": {
            "version": "16.10.2"
        }
    }
}
