.DS_Store
**/node_modules
package-lock.json
public/*
!public/index.html
!public/gifs.*
dist
*.log
.env
coverage/
.cache
.npmrc
.idea/
cjs/
esm/
umd/
.turbo
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.hintrc
.vscode/
.zed/
